<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

 <!-- Definicion de los parametros de ubicacion y nombre del archivo generado -->
  <property name="LOGS" value="C:/aplicaciones_log/java/server/fizzbuzz-logs"/>
  <property name="NAME" value="fizzbuzz"/>
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %level | %mdc{messageId} | %mdc{messageType} | %mdc{useCase} | %logger{36} | %msg%n</pattern>
    </encoder>
  </appender>

 <!-- Definicion de los formatos de escritura -->
  <appender name="RollingFile"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}/${NAME}.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %level | %mdc{messageId} | %mdc{messageType} | %mdc{useCase} | %logger{36} | %msg%n</pattern>
    </encoder>

    <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Rolea el archivo cuando es mayor a  10MB-->
      <fileNamePattern>${LOGS}/archived/${NAME}-%d{yyyy-MM-dd}.%i.zip
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
              class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  
  <!-- Nivel de LOG en debug-->
  <root level="debug">
     <appender-ref ref="RollingFile"/> 
    <appender-ref ref="Console"/>
  </root>

</configuration>
